@font-face {
    font-family: "mamae";
    src: url('./assets/moomfonte.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.imagem {
    max-width: 400px;
    border-radius: 50%;
    box-shadow: 0 5px 6px rgb(63, 35, 19);

}
body {
    cursor: url('./assets/cursoor.png'), auto;
    font-family: "mamae";
    background-color: #ffdabc; 
    color: rgb(229, 145, 77); 
    margin: 0;
    padding: 0;
    a:link {
        color: orange;
        background-color: transparent;
        text-decoration: none;
    }

a:visited {
    color: rgb(214, 109, 98);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 57, 57);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 180, 31);
    background-color: transparent;
    text-decoration: underline;
}
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgb(23, 1, 1);
    border-radius: 10px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header p{
    margin: 2px 0;
    color: black;
}
h2 {
    color: rgb(245, 179, 103);
    border-bottom: 2px solid rgb(187, 68, 88);
}
.button {
    display: flex;
    justify-content: flex-end;
}

#btn-print{
    background-color: rgb(255, 145, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#btn-print:hover{
    background-color: rgb(255, 179, 122);
}

.spark-effect {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fad381; 
  border-radius: 50%;
  pointer-events: none;
  
  /* Garantir que a animação dure 1 segundo e persista no estado final */
  animation: floatUp 1s forwards; 
}

@keyframes floatUp {
  0% {
    /* Começa na posição do mouse, visível */
    transform: translate(0, 0) scale(1);
    opacity: 1; 
  }
  
  /* Adicione um ponto intermediário para definir a elevação antes de desaparecer */
  70% {
    /* Move para cima, mas ainda visível */
    transform: translate(0, -50px) scale(0.5);
    opacity: 1;
  }
  
  100% {
    /* No final, move para o ponto mais alto e a opacidade vai a 0 (desaparece) */
    transform: translate(0, -70px) scale(0); 
    opacity: 0; 
  }
}